<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/signup.css" />
    <title>Stock</title>
  </head>
  <body>
    <div id="div_form">
      <fieldset>
        <input autocomplete="off" type="text" class="UI" placeholder="ID" id="input_id" />
        <button class="UI">Check</button>
      </fieldset>
    </div>

    <script src="client/signup.js"></script>
  </body>
</html>
